In [2]:
import pandas as pd

data = pd.read_csv('flavors_of_cacao.csv')
data.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [24]:
# 簡化標題
data.columns = ['Company', 'Origin', 'REF', 'Review_Date', 'Cocoa_Percent', 'Company Location', 
              'Rating', 'Bean_Type', 'Bean_Org']
data.head()

,Company,Origin,REF,Review_Date,Cocoa_Percent,Company Location,Rating,Bean_Type,Bean_Org
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,,Peru

In [8]:
# Q1:生產巧克力棒最多的製造公司(者)為?

counts = data['Company'].value_counts()
counts

# A1:Soma(47種)

Soma                 47
Bonnat               27
Fresco               26
Pralus               25
A. Morin             23
                     ..
Chocablog             1
Marigold's Finest     1
Chloe Chocolat        1
Chequessett           1
Ki' Xocolatl          1
Name: Company, Length: 416, dtype: int64

In [17]:
# Q2:所有巧克力棒的平均專家評分為多少?

# 計算平均值
rating = data['Rating'].mean()
print('平均評分為：{}'.format(rating))

# A2:平均評分為 3.185933147632312

平均評分為：3.185933147632312

In [5]:
# Q3:最高的巧克力棒專家評分為多少?

highest_rating = data['Rating'].max()
highest_rating

# A3:最高的巧克力棒專家評分為 5.0

5.0

In [11]:
# Q4:專家評分最高的巧克力棒公司都在那些國家?

# 挑出評分為最高分的巧克力棒
highest_bars = data[data['Rating'] == highest_rating]

# 找出這些巧克力棒所屬的國家
countries = highest_bars['Company Location'].unique()
print(countries)

# A4:專家評分最高的巧克力棒公司都在義大利(Italy)

['Italy']

In [12]:
# Q5:在這些巧克力棒的評分數據中最早被發表的評論年代為?

# 升冪排序
sorted_data = data.sort_values('Review_Date')

# 取得升冪排序後最上方的那筆資料
earliest_date = sorted_data.iloc[0]['Review_Date']
print(earliest_date)

# Q5:最早發表的評論年代為 2006

2006

In [34]:
# Q6:那麼最早發表評論的巧克力棒公司有幾家?

sorted_data = data.sort_values('Review_Date')
earliest_company = sorted_data[sorted_data['Review_Date'] == sorted_data['Review_Date'].min()]['Company']

# 計算不重複的公司
earliest_companies = earliest_company.nunique()
print(earliest_companies)

# Q6:最早發表評論的巧克力棒公司有 18家

18

In [30]:
# Q7:有多少巧克力棒的可可含量高於整體的平均可可含量?

# 將可可含量(Cocoa_Percent)的資料類型轉換為 float,才可以進行後續的數值運算
data['Cocoa_Percent'] = (data['Cocoa_Percent']).astype(float)

# 計算平均值
cocoa = data['Cocoa_Percent'].mean()
# 用 Boolean indexing挑出高於平均值的數據，並計算數量
high_cocoa = (data['Cocoa_Percent'] > cocoa).sum()
print(high_cocoa)

# Q7:共有 764種巧克力棒的可可含量高於整體的平均可可含量

764

In [31]:
# Q8:巧克力棒的製作用到了多少不同的可可豆種類?

# 計算不同值的數量
bean = data['Bean_Type'].nunique()
bean

# Q8:共有 41種不同的可可豆種類

41

In [49]:
# Q9:義大利(Italy)身為專家評分最高巧克力棒公司的所在地,平均可可含量為多少,且其為大於整體平均可可含量還是小於?

# 選出 Italy的所有行
italy = data[data['Company Location'] == 'Italy']
italy_cocoapercent = italy['Cocoa_Percent'].mean()
print(italy_cocoapercent)

# 整體平均可可含量
cocoa = data['Cocoa_Percent'].mean()
print(cocoa)

# Q9:義大利(Italy)的平均可可含量為 71.19047619047619% ,且小於整體平均可可含量(71.6983286908078%)

71.19047619047619
71.6983286908078

In [44]:
# Q10:義大利(Italy)身為專家評分最高巧克力棒公司的所在地,都用到了哪些可可豆?

# 選出 Italy的所有行
italy = data[data['Company Location'] == 'Italy']
italy_beantype = italy['Bean_Type'].unique()
for beantype in italy_beantype:
    print(beantype)
    
# Q10:義大利(Italy)共使用到了以下顯示的所有可可豆種類

Criollo (Porcelana)
Blend
Trinitario
Trinitario (85% Criollo)
Forastero
Criollo (Ocumare 77)
Criollo
Criollo (Ocumare 61)
Forastero (Arriba)
Criollo (Ocumare 67)
Forastero (Arriba) ASS
Forastero (Nacional)
Blend-Forastero,Criollo
Criollo, Trinitario